.MainContainer{
    display: flex;
    flex-direction: column;
    background-color: gray;
    height: 800px;
}

.Row{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 15px;
    line-height: 35px;
}
.Input{
    width: 150px;
    height: 35px;
    margin-left: 15px;
    padding-left: 10px;
    outline: none;
    border: none;
    border-radius: 5px;
}
.JoinButton{
    height: 40px;
    margin-top: 35px;
    outline: none;
    border: none;
    border-radius: 15px;
    color: #d8e9ef;
    background-color: goldenrod;
    font-size: 25px;
    font-weight: 500;
    width:300px;
    align-items: center;
    
  
    /* :hover {
      background-color: #7bb1d1;
      cursor: pointer;
    } */
}
